GEMINI_API_KEY=

DB_SERVER=192.168.40.20
DB_NAME=ICGFRONT
DB_USER=ICGAdmin
DB_PASSWORD=masterkey
DB_ENCRYPT=false
API_PORT=3002
DOCS_AUTHORIZED_PATH=\\\\192.168.1.164\\DocumentosElectronicos\\Autorizados
