GEMINI_API_KEY=

DB_SERVER=192.168.40.20
DB_NAME=ICGFRONT
DB_USER=
DB_PASSWORD=
DB_ENCRYPT=false

# Usar el mismo puerto que tienes redireccionado en el router
API_PORT=3000

# Habilita servir el frontend compilado desde Express
SERVE_STATIC=true

# Reemplazar con tu IP pública real
CORS_ORIGIN=http://TU_IP_PUBLICA:3000

DOCS_AUTHORIZED_PATH=\\192.168.1.164\DocumentosElectronicos\Autorizados
