GEMINI_API_KEY=

DB_SERVER=192.168.40.20
DB_NAME=ICGFRONT
DB_USER=
DB_PASSWORD=
DB_ENCRYPT=false

API_PORT=3002
CORS_ORIGIN=https://facturacionelectronica.grupolina.com
DOCS_AUTHORIZED_PATH=\\192.168.1.164\DocumentosElectronicos\Autorizados
